body {
  --main-header-size: 50px;
  --pinku-colour:#f59bb0;
  --yellow-color:#ffc33e;
}

/* to stop horizontal overflow from cat */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.bio {
  color: var(--pinku-colour);
  font-size: 40px;
  line-height: var(--main-header-size);
  margin-bottom: 5em;
}

* {
  font-family: Arial; /* Global font*/
}

.navItem {
  /* transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%) translateZ(0);
    position: fixed; */
}

.spacing {
  /* padding-left: 200px; */
}

.nav {
  position: fixed;
  display: inline-flex;
  top: 50%;
  left: 17px;
  color: var(--pinku-colour);
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%) translateZ(0);
  position: fixed;
}

.nav p {
  margin-right: 25px;
}

.nav-right {
  position: fixed;
  display: inline-flex;
  top: 50%;
  left: 98%;
  color: var(--pinku-colour);
  transform-origin: 0 50%;
  transform: rotate(90deg) translate(-50%, 50%) translateZ(0);
  position: fixed;
}

.nav-right p {
  margin-right: 25px;
}

.nav-right a, .nav a {
  color: var(--pinku-colour);

}


.infoContainer {
  position: relative;
    top: -28px;
}


.name {
  transform-origin: 0 50%;
  transform: rotate(-6deg) translate(0%, 0%) translateZ(0);
  font-weight: normal;
  position: relative;
  top: 20px;
  font-size: var(--main-header-size);
  z-index: 100;
}

.imageRow {
  display: grid;
  margin: 0 45px 45px 45px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.project_page p {
  color: var(--pinku-colour);
}

.blurbContainer {
  width: 50%;
}

.imageContainer {
  width: 50%;
  text-align: right;
  float: right;
}

.cat {
  animation: cat-walk 18s ease-in both infinite;
  width: 40px;
  position: relative;
}

@keyframes cat-walk {
  0%{
    left: -10vw
  }
  100%{
    left: 110vw;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }

  .nav-right {
    display: none;
  }
  
  .imageRow {
    display: block;
  }
  .blurbContainer {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    text-align: right;
    float: right;
  }

  .infoContainer {
    position: relative;
    top: 0;
  }
}
